<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- The URL for add/remove programs -->
  <?define InfoURL="https://github.com/pedrossantos/CrudGenerator" ?>

  <!--
   Upgrade code HAS to be the same for all updates.
   Once you've chosen it don't change it.
   -->
  <!--<?define UpgradeCode="3D4F9622-FF35-4F09-8EF4-7F42811BB8A7" ?>-->  <!--v1.0.0.0-->
  <!--<?define UpgradeCode="2659D47E-51FB-41DA-95EE-E17A2D1EBD4F" ?>-->  <!--v1.1.0.0-->
  <!--<?define UpgradeCode="3CC36E5D-8E58-4400-889B-39C73ED0AFA3" ?>-->  <!--v1.1.1.0-->
  <!--<?define UpgradeCode="A53D735B-7387-4957-958F-AC294E3F51D6" ?>-->  <!--v1.1.2.0-->
  <!--<?define UpgradeCode="54875ADD-43FD-4C08-AC47-0AD92DEFA7B9" ?>-->  <!--v1.1.2.1-->
  <!--<?define UpgradeCode="2B5EF377-37B5-427A-8C13-7125EE8F50FA" ?>-->  <!--v1.1.2.2-->
  <!--<?define UpgradeCode="DC258B70-7FC6-4A6A-AE94-02A34F9555D3" ?>-->  <!--v1.1.2.3-->
  <!--<?define UpgradeCode="C75AC644-9229-4E46-80E0-33E799BE8DD1" ?>-->  <!--v1.1.2.4-->
  <!--<?define UpgradeCode="C42BC941-47B0-445E-9606-CB27262E96DB" ?>-->  <!--v1.1.2.5-->
  <!--<?define UpgradeCode="1A67D2B3-DFD7-476D-A087-5A9CBEA15205" ?>-->  <!--v1.1.2.6-->
  <!--<?define UpgradeCode="1A8AC73B-8EE1-4894-B140-00D27E72A1AB" ?>-->  <!--v1.1.2.7-->
  <!--<?define UpgradeCode="857E2629-20AE-464E-908E-291B7483DD12" ?>-->  <!--v1.1.2.8-->
  <!--<?define UpgradeCode="87EE263C-5DB9-49CE-B28B-102DF058483F" ?>-->  <!--v1.1.2.9-->
  <!--<?define UpgradeCode="CFA638E5-6045-413D-96C5-EDF00D7244C1" ?>-->  <!--v1.1.2.10-->
  <!--<?define UpgradeCode="9209D29E-C87F-4D88-82E7-B20B8E974BE0" ?>-->  <!--v1.1.2.11-->
  <!--<?define UpgradeCode="1EEF7B40-479B-40A6-B069-0AD37F083A14" ?>-->  <!--v1.1.2.12-->
  <?define UpgradeCode="8D6F5217-0628-4B54-80E7-87A71B7F1768" ?>  <!--v1.1.2.13-->

  <Product Id="35CE40BF-2F47-409E-BA49-4757F6A3F1DA" Name="!(loc.ApplicationName)" Language="!(loc.Language)" Version="1.1.2.13" Manufacturer="!(loc.ManufacturerFullName)" UpgradeCode="$(var.UpgradeCode)">
	<Package Id="30EE239D-F5EA-4630-90CB-22AE1F31DCC4" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="!(loc.ProductDescription)"/>

    <!--<WixVariable Id="WixUILicenseRtf" Value="!(loc.LicenseRtf)" />-->

    <!-- UI customization -->
    <WixVariable Id="WixUIBannerBmp" Value="Dialog.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />

    <!-- Define icons (ID should not be longer than 18 chars and must end with ".exe") -->
    <Icon Id="Icon.exe" SourceFile="wpf.ico" />

    <!-- Set properties for add/remove programs -->
    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
    <Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
    <Property Id="APPNOREPAIR" Value="yes" Secure="yes" />
    <!-- Remove repair -->
    <!--<Property Id="APPNOMODIFY" Value="yes" Secure="yes" />-->
    <!-- Remove modify -->

	<Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED"/>
	  <Condition Message="!(loc.RequiresDotNetFramework461)">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="!(loc.ApplicationName)" >

          <Directory Id="LanguageENDir" Name="en" >
            <Component Id="LanguageEN" Guid="33EE77FF-449F-4843-89C1-9776201DFD90" KeyPath="yes">
              <File Id="CrudGenerator.App.Wpf.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\CrudGenerator.App.Wpf.resources.dll"/>
              <File Id="CrudGenerator.Core.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\CrudGenerator.Core.resources.dll"/>
              <File Id="CrudGenerator.Core.Wpf.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\CrudGenerator.Core.Wpf.resources.dll"/>
              <File Id="DependencyInversion.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\DependencyInversion.resources.dll"/>
              <File Id="Framework.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\Framework.resources.dll"/>
              <File Id="Domain.Application.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\Domain.Application.resources.dll"/>
              <File Id="Domain.Database.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\Domain.Database.resources.dll"/>
              <File Id="Domain.Infrastructure.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\Domain.Infrastructure.resources.dll"/>
              <File Id="Domain.Model.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\Domain.Model.resources.dll"/>
              <File Id="View.Abstractions.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\View.Abstractions.resources.dll"/>
              <File Id="View.Abstractions.Wpf.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\View.Abstractions.Wpf.resources.dll"/>
              <File Id="View.Database.resources.en" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\en\View.Database.resources.dll"/>
            </Component>
          </Directory>

          <Directory Id="LanguageESDir" Name="es" >
            <Component Id="LanguageES" Guid="B6CA41F6-1EBB-4ABF-9958-9A95DAF9C308" KeyPath="yes">
              <File Id="CrudGenerator.App.Wpf.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\CrudGenerator.App.Wpf.resources.dll"/>
              <File Id="CrudGenerator.Core.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\CrudGenerator.Core.resources.dll"/>
              <File Id="CrudGenerator.Core.Wpf.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\CrudGenerator.Core.Wpf.resources.dll"/>
              <File Id="Database.MySql.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Database.MySql.resources.dll"/>
              <File Id="Database.PostgreSql.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Database.PostgreSql.resources.dll"/>
              <File Id="Database.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Database.resources.dll"/>
              <File Id="Database.Sqlite.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Database.Sqlite.resources.dll"/>
              <File Id="Database.SqlServer.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Database.SqlServer.resources.dll"/>
              <File Id="DependencyInversion.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\DependencyInversion.resources.dll"/>
              <File Id="Framework.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Framework.resources.dll"/>
              <File Id="Domain.Application.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Domain.Application.resources.dll"/>
              <File Id="Domain.Database.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Domain.Database.resources.dll"/>
              <File Id="Domain.Infrastructure.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Domain.Infrastructure.resources.dll"/>
              <File Id="Domain.Model.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Domain.Model.resources.dll"/>
              <File Id="View.Abstractions.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\View.Abstractions.resources.dll"/>
              <File Id="View.Abstractions.Wpf.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\View.Abstractions.Wpf.resources.dll"/>
              <File Id="View.Database.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\View.Database.resources.dll"/>
              <File Id="Xceed.Wpf.AvalonDock.resources.es" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es\Xceed.Wpf.AvalonDock.resources.dll"/>
            </Component>
          </Directory>

          <Directory Id="LanguageESARDir" Name="es-AR" >
            <Component Id="LanguageESAR" Guid="C28CD35B-B3B9-4EC4-8FBE-B4EA39A3091C" KeyPath="yes">
              <File Id="Crud.Abstractions.Presentation.resources.esAR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es-AR\Crud.Abstractions.Presentation.resources.dll"/>
              <File Id="Crud.Abstractions.Presentation.Wpf.Components.resources.esAR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es-AR\Crud.Abstractions.Presentation.Wpf.Components.resources.dll"/>
              <File Id="Crud.Abstractions.Presentation.Wpf.Views.resources.esAR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es-AR\Crud.Abstractions.Presentation.Wpf.Views.resources.dll"/>
              <File Id="View.Abstractions.resources.esAR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es-AR\View.Abstractions.resources.dll"/>
              <File Id="View.Components.Wpf.resources.esAR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\es-AR\View.Components.Wpf.resources.dll"/>
            </Component>
          </Directory>

          <Directory Id="LanguagePTDir" Name="pt" >
            <Component Id="LanguagePT" Guid="2A2C206A-FB7D-4C9B-BEF4-BF18E3CCFD78" KeyPath="yes">
              <File Id="CrudGenerator.App.Wpf.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\CrudGenerator.App.Wpf.resources.dll"/>
              <File Id="CrudGenerator.Core.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\CrudGenerator.Core.resources.dll"/>
              <File Id="CrudGenerator.Core.Wpf.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\CrudGenerator.Core.Wpf.resources.dll"/>
              <File Id="Database.MySql.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\Database.MySql.resources.dll"/>
              <File Id="Database.PostgreSql.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\Database.PostgreSql.resources.dll"/>
              <File Id="Database.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\Database.resources.dll"/>
              <File Id="Database.Sqlite.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\Database.Sqlite.resources.dll"/>
              <File Id="Database.SqlServer.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\Database.SqlServer.resources.dll"/>
              <File Id="Framework.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\Framework.resources.dll"/>
              <File Id="View.Abstractions.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\View.Abstractions.resources.dll"/>
              <File Id="View.Abstractions.Wpf.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\View.Abstractions.Wpf.resources.dll"/>
              <File Id="View.Database.resources.pt" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt\View.Database.resources.dll"/>
            </Component>
          </Directory>

          <Directory Id="LanguagePTBRDir" Name="pt-BR" >
            <Component Id="LanguagePTBR" Guid="994D6618-4911-452C-9130-DF7CEDF1FA29" KeyPath="yes">
              <File Id="Crud.Abstractions.Presentation.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\Crud.Abstractions.Presentation.resources.dll"/>
              <File Id="Crud.Abstractions.Presentation.Wpf.Components.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\Crud.Abstractions.Presentation.Wpf.Components.resources.dll"/>
              <File Id="Crud.Abstractions.Presentation.Wpf.Views.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\Crud.Abstractions.Presentation.Wpf.Views.resources.dll"/>
              <File Id="DependencyInversion.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\DependencyInversion.resources.dll"/>
              <File Id="View.Abstractions.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\View.Abstractions.resources.dll"/>
              <File Id="View.Components.Wpf.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\View.Components.Wpf.resources.dll"/>
              <File Id="Xceed.Wpf.AvalonDock.resources.ptBR" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\pt-BR\Xceed.Wpf.AvalonDock.resources.dll"/>
            </Component>
          </Directory>

          <Directory Id="SQLiteInteropX64Dir" Name="x64" >
            <Component Id="SQLiteInteropX64" Guid="CF32087F-FAFB-45DC-A8C3-CFF26B6C11A7" KeyPath="yes">
              <File Id="SQLite.InteropX64.dll" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\x64\SQLite.Interop.dll"/>
            </Component>
          </Directory>

          <Directory Id="SQLiteInteropX86Dir" Name="x86" >
            <Component Id="SQLiteInteropX86" Guid="11A9461E-5C4C-4080-B4A2-4F6206FCBB53" KeyPath="yes">
              <File Id="SQLite.InteropX86.dll" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\x86\SQLite.Interop.dll"/>
            </Component>
          </Directory>

          <Component Id="ProductComponents" Guid="F10443EE-5385-4240-890F-847E0992C592" KeyPath="yes">
            <File Id="BouncyCastle.Crypto" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\BouncyCastle.Crypto.dll"/>
            <File Id="BouncyCastle.Cryptography" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\BouncyCastle.Cryptography.dll"/>
            <File Id="Google.Protobuf" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Google.Protobuf.dll"/>
            <File Id="K4os.Compression.LZ4" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\K4os.Compression.LZ4.dll"/>
            <File Id="K4os.Compression.LZ4.Streams" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\K4os.Compression.LZ4.Streams.dll"/>
            <File Id="K4os.Hash.xxHash" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\K4os.Hash.xxHash.dll"/>
            <File Id="Microsoft.Bcl.AsyncInterfaces" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Microsoft.Bcl.AsyncInterfaces.dll"/>
            <File Id="Microsoft.Bcl.HashCode" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Microsoft.Bcl.HashCode.dll"/>
            <File Id="Microsoft.Win32.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Microsoft.Win32.Primitives.dll"/>
            <File Id="MySql.Data" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\MySql.Data.dll"/>
            <File Id="netstandard" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\netstandard.dll"/>
            <File Id="Npgsql" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Npgsql.dll"/>
            <File Id="System.AppContext" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.AppContext.dll"/>
            <File Id="System.Buffers" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Buffers.dll"/>
            <File Id="System.Collections.Concurrent" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Collections.Concurrent.dll"/>
            <File Id="System.Collections" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Collections.dll"/>
            <File Id="System.Collections.Immutable" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Collections.Immutable.dll"/>
            <File Id="System.Collections.NonGeneric" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Collections.NonGeneric.dll"/>
            <File Id="System.Collections.Specialized" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Collections.Specialized.dll"/>
            <File Id="System.ComponentModel" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.ComponentModel.dll"/>
            <File Id="System.ComponentModel.EventBasedAsync" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.ComponentModel.EventBasedAsync.dll"/>
            <File Id="System.ComponentModel.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.ComponentModel.Primitives.dll"/>
            <File Id="System.ComponentModel.TypeConverter" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.ComponentModel.TypeConverter.dll"/>
            <File Id="System.Console" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Console.dll"/>
            <File Id="System.Data.Common" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Data.Common.dll"/>
            <File Id="System.Data.SqlClient" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Data.SqlClient.dll"/>
            <File Id="System.Data.SQLite" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Data.SQLite.dll"/>
            <File Id="System.Diagnostics.Contracts" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.Contracts.dll"/>
            <File Id="System.Diagnostics.Debug" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.Debug.dll"/>
            <File Id="System.Diagnostics.DiagnosticSource" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.DiagnosticSource.dll"/>
            <File Id="System.Diagnostics.FileVersionInfo" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.FileVersionInfo.dll"/>
            <File Id="System.Diagnostics.Process" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.Process.dll"/>
            <File Id="System.Diagnostics.StackTrace" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.StackTrace.dll"/>
            <File Id="System.Diagnostics.TextWriterTraceListener" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.TextWriterTraceListener.dll"/>
            <File Id="System.Diagnostics.Tools" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.Tools.dll"/>
            <File Id="System.Diagnostics.TraceSource" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.TraceSource.dll"/>
            <File Id="System.Diagnostics.Tracing" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Diagnostics.Tracing.dll"/>
            <File Id="System.Drawing.Common" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Drawing.Common.dll"/>
            <File Id="System.Drawing.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Drawing.Primitives.dll"/>
            <File Id="System.Dynamic.Runtime" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Dynamic.Runtime.dll"/>
            <File Id="System.Globalization.Calendars" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Globalization.Calendars.dll"/>
            <File Id="System.Globalization" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Globalization.dll"/>
            <File Id="System.Globalization.Extensions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Globalization.Extensions.dll"/>
            <File Id="System.IO.Compression" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.Compression.dll"/>
            <File Id="System.IO.Compression.ZipFile" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.Compression.ZipFile.dll"/>
            <File Id="System.IO" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.dll"/>
            <File Id="System.IO.FileSystem" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.FileSystem.dll"/>
            <File Id="System.IO.FileSystem.DriveInfo" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.FileSystem.DriveInfo.dll"/>
            <File Id="System.IO.FileSystem.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.FileSystem.Primitives.dll"/>
            <File Id="System.IO.FileSystem.Watcher" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.FileSystem.Watcher.dll"/>
            <File Id="System.IO.IsolatedStorage" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.IsolatedStorage.dll"/>
            <File Id="System.IO.MemoryMappedFiles" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.MemoryMappedFiles.dll"/>
            <File Id="System.IO.Pipes" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.Pipes.dll"/>
            <File Id="System.IO.UnmanagedMemoryStream" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.IO.UnmanagedMemoryStream.dll"/>
            <File Id="System.Linq" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Linq.dll"/>
            <File Id="System.Linq.Expressions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Linq.Expressions.dll"/>
            <File Id="System.Linq.Parallel" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Linq.Parallel.dll"/>
            <File Id="System.Linq.Queryable" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Linq.Queryable.dll"/>
            <File Id="System.Memory" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Memory.dll"/>
            <File Id="System.Net.Http" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.Http.dll"/>
            <File Id="System.Net.NameResolution" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.NameResolution.dll"/>
            <File Id="System.Net.NetworkInformation" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.NetworkInformation.dll"/>
            <File Id="System.Net.Ping" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.Ping.dll"/>
            <File Id="System.Net.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.Primitives.dll"/>
            <File Id="System.Net.Requests" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.Requests.dll"/>
            <File Id="System.Net.Security" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.Security.dll"/>
            <File Id="System.Net.Sockets" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.Sockets.dll"/>
            <File Id="System.Net.WebHeaderCollection" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.WebHeaderCollection.dll"/>
            <File Id="System.Net.WebSockets.Client" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.WebSockets.Client.dll"/>
            <File Id="System.Net.WebSockets" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Net.WebSockets.dll"/>
            <File Id="System.Numerics.Vectors" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Numerics.Vectors.dll"/>
            <File Id="System.ObjectModel" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.ObjectModel.dll"/>
            <File Id="System.Reactive" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Reactive.dll"/>
            <File Id="System.Reflection" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Reflection.dll"/>
            <File Id="System.Reflection.Extensions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Reflection.Extensions.dll"/>
            <File Id="System.Reflection.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Reflection.Primitives.dll"/>
            <File Id="System.Resources.Reader" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Resources.Reader.dll"/>
            <File Id="System.Resources.ResourceManager" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Resources.ResourceManager.dll"/>
            <File Id="System.Resources.Writer" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Resources.Writer.dll"/>
            <File Id="System.Runtime.CompilerServices.Unsafe" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.CompilerServices.Unsafe.dll"/>
            <File Id="System.Runtime.CompilerServices.VisualC" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.CompilerServices.VisualC.dll"/>
            <File Id="System.Runtime" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.dll"/>
            <File Id="System.Runtime.Extensions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Extensions.dll"/>
            <File Id="System.Runtime.Handles" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Handles.dll"/>
            <File Id="System.Runtime.InteropServices" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.InteropServices.dll"/>
            <File Id="System.Runtime.InteropServices.RuntimeInformation" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.InteropServices.RuntimeInformation.dll"/>
            <File Id="System.Runtime.Numerics" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Numerics.dll"/>
            <File Id="System.Runtime.Serialization.Formatters" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Serialization.Formatters.dll"/>
            <File Id="System.Runtime.Serialization.Json" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Serialization.Json.dll"/>
            <File Id="System.Runtime.Serialization.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Serialization.Primitives.dll"/>
            <File Id="System.Runtime.Serialization.Xml" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Runtime.Serialization.Xml.dll"/>
            <File Id="System.Security.Claims" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Claims.dll"/>
            <File Id="System.Security.Cryptography.Algorithms" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Cryptography.Algorithms.dll"/>
            <File Id="System.Security.Cryptography.Csp" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Cryptography.Csp.dll"/>
            <File Id="System.Security.Cryptography.Encoding" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Cryptography.Encoding.dll"/>
            <File Id="System.Security.Cryptography.Primitives" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Cryptography.Primitives.dll"/>
            <File Id="System.Security.Cryptography.X509Certificates" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Cryptography.X509Certificates.dll"/>
            <File Id="System.Security.Principal" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.Principal.dll"/>
            <File Id="System.Security.SecureString" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Security.SecureString.dll"/>
            <File Id="System.Text.Encoding" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Text.Encoding.dll"/>
            <File Id="System.Text.Encoding.Extensions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Text.Encoding.Extensions.dll"/>
            <File Id="System.Text.Encodings.Web" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Text.Encodings.Web.dll"/>
            <File Id="System.Text.Json" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Text.Json.dll"/>
            <File Id="System.Text.RegularExpressions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Text.RegularExpressions.dll"/>
            <File Id="System.Threading.Channels" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Channels.dll"/>
            <File Id="System.Threading" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.dll"/>
            <File Id="System.Threading.Overlapped" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Overlapped.dll"/>
            <File Id="System.Threading.Tasks" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Tasks.dll"/>
            <File Id="System.Threading.Tasks.Extensions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Tasks.Extensions.dll"/>
            <File Id="System.Threading.Tasks.Parallel" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Tasks.Parallel.dll"/>
            <File Id="System.Threading.Thread" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Thread.dll"/>
            <File Id="System.Threading.ThreadPool" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.ThreadPool.dll"/>
            <File Id="System.Threading.Timer" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Threading.Timer.dll"/>
            <File Id="System.ValueTuple" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.ValueTuple.dll"/>
            <File Id="System.Xml.ReaderWriter" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Xml.ReaderWriter.dll"/>
            <File Id="System.Xml.XDocument" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Xml.XDocument.dll"/>
            <File Id="System.Xml.XmlDocument" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Xml.XmlDocument.dll"/>
            <File Id="System.Xml.XmlSerializer" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Xml.XmlSerializer.dll"/>
            <File Id="System.Xml.XPath" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Xml.XPath.dll"/>
            <File Id="System.Xml.XPath.XDocument" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\System.Xml.XPath.XDocument.dll"/>

            <File Id="CrudGenerator.App.Wpf.config" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\CrudGenerator.App.Wpf.exe.config"/>

            <File Id="CrudGenerator.App.Wpf" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\CrudGenerator.App.Wpf.exe"/>
            <File Id="CrudGenerator.Core.Wpf" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\CrudGenerator.Core.Wpf.dll"/>
            <File Id="CrudGenerator.Core" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\CrudGenerator.Core.dll"/>
            <File Id="Database" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Database.dll"/>
            <File Id="Database.MySql" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Database.MySql.dll"/>
            <File Id="Database.PostgreSql" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Database.PostgreSql.dll"/>
            <File Id="Database.Sqlite" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Database.Sqlite.dll"/>
            <File Id="Database.SqlServer" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Database.SqlServer.dll"/>
            <File Id="DependencyInversion" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\DependencyInversion.dll"/>
            <File Id="Framework" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Framework.dll"/>
            <File Id="Serialization" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Serialization.dll"/>
            <File Id="Serialization.BinarySlim" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Serialization.BinarySlim.dll"/>
            <File Id="Serialization.Json" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Serialization.Json.dll"/>
            <File Id="Domain.Model" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Domain.Model.dll"/>
            <File Id="Domain.Application" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Domain.Application.dll"/>
            <File Id="Domain.Database" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Domain.Database.dll"/>
            <File Id="Domain.Infrastructure" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Domain.Infrastructure.dll"/>
            <File Id="View.Abstractions" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\View.Abstractions.dll"/>
            <File Id="View.Abstractions.Wpf" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\View.Abstractions.Wpf.dll"/>
            <File Id="View.Components" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\View.Components.dll"/>
            <File Id="View.Components.Wpf" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\View.Components.Wpf.dll"/>
            <File Id="View.Database" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\View.Database.dll"/>
            <File Id="View.Database.Wpf" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\View.Database.Wpf.dll"/>
            <File Id="Crud.Abstractions.Application" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Crud.Abstractions.Application.dll"/>
            <File Id="Crud.Abstractions.Presentation" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Crud.Abstractions.Presentation.dll"/>
            <File Id="Crud.Abstractions.Presentation.Wpf.Components" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Crud.Abstractions.Presentation.Wpf.Components.dll"/>
            <File Id="Crud.Abstractions.Presentation.Wpf.Views" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Crud.Abstractions.Presentation.Wpf.Views.dll"/>
            <File Id="Xceed.Wpf.AvalonDock" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Xceed.Wpf.AvalonDock.dll"/>
            <File Id="Xceed.Wpf.AvalonDock.Themes.Aero" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Xceed.Wpf.AvalonDock.Themes.Aero.dll"/>
            <File Id="Xceed.Wpf.AvalonDock.Themes.Expression" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Xceed.Wpf.AvalonDock.Themes.Expression.dll"/>
            <File Id="Xceed.Wpf.AvalonDock.Themes.Metro" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Xceed.Wpf.AvalonDock.Themes.Metro.dll"/>
            <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Xceed.Wpf.AvalonDock.Themes.VS2010.dll"/>
            <File Id="Xceed.Wpf.Toolkit" Source="..\CrudGenerator.App.Wpf\bin\Release\net461\Confused\Xceed.Wpf.Toolkit.dll"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="!(loc.ApplicationName)">
          <Component Id="ApplicationShortcuts" Guid="00BEFA04-8814-4489-8846-AD9B9C0122E2">
            <Shortcut Id="CrudGeneratorAppWpf_Shortcut" Name="!(loc.ApplicationName)" Description="!(loc.ProductDescription)" Target="[INSTALLFOLDER]CrudGenerator.App.Wpf.exe" WorkingDirectory="INSTALLFOLDER" Icon="WpfIcon">
              <Icon Id="WpfIcon" SourceFile="Wpf.ico" />
            </Shortcut>
            <RegistryValue Root="HKCU" Key="Software\AEMRural\CrudGeneratorAppWpfProgramMenu" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="3285CAFE-A4EE-4F67-878C-3DC199899378">
          <Shortcut Id="CrudGeneratorAppWpf_ShortcutDesktop" Name="!(loc.ApplicationName)" Description="!(loc.ProductDescription)" Target="[INSTALLFOLDER]CrudGenerator.App.Wpf.exe" WorkingDirectory="INSTALLFOLDER" Icon="WpfIcon1">
            <Icon Id="WpfIcon1" SourceFile="Wpf.ico" />
          </Shortcut>
          <RegistryValue Root="HKCU" Key="Software\SSPH\CrudGeneratorAppWpfDesktop" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        </Component>
      </Directory>

    </Directory>

    <Feature Id="ProductFeature" Title="!(loc.ApplicationName)" Level="1">
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="ProductComponents" />
      <ComponentRef Id="LanguageEN" />
      <ComponentRef Id="LanguageES" />
      <ComponentRef Id="LanguageESAR" />
      <ComponentRef Id="LanguagePT" />
      <ComponentRef Id="LanguagePTBR" />
      <ComponentRef Id="SQLiteInteropX64" />
      <ComponentRef Id="SQLiteInteropX86" />
    </Feature>

    <UI>
      <!-- Define the installer UI -->
      <UIRef Id="WixUICustom" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    </UI>

  </Product>

  <Fragment>
    <DirectoryRef Id="LanguageENDir" />
    <DirectoryRef Id="LanguageESDir" />
    <DirectoryRef Id="LanguageESARDir" />
    <DirectoryRef Id="LanguagePTDir" />
    <DirectoryRef Id="LanguagePTBRDir" />
    <DirectoryRef Id="SQLiteInteropX64Dir" />
    <DirectoryRef Id="SQLiteInteropX86Dir" />
  </Fragment>
</Wix>
